body {
    background-color: blueviolet;
    color: deeppink;
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
.titulo {
       border-width: 3px;
       border-color: blue;
       border-radius: 3px;
}